<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

<nav class="navbar navbar-default" role="navigation">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Devanshu Matlawala</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Resume', resume_path %></li>
        <li><%= link_to 'Sample Work', sample_work_path %></li>
        <li><%= link_to 'Projects and Publications', projects_path %></li>
        <li><%= link_to 'About me', about_me_path %></li>

        <li>
          <%= link_to 'https://twitter.com/devanshu19', target: "_blank" do %>
            <i class="fa fa-twitter"></i>
          <% end %>
        </li>
        <li>
          <%= link_to 'https://www.facebook.com/devanshu.matlawala', target: "_blank" do %>
            <i class="fa fa-facebook"></i>
          <% end %>
        </li>
        <li> 
          <%= link_to 'https://www.linkedin.com/in/devanshumatlawala/', target: "_blank" do %>
            <i class="fa fa-linkedin"></i>
          <% end %>
        </li>
        <li>
          <%= link_to 'https://github.com/devanshu-m', target: "_blank" do %>
            <i class="fa fa-github" aria-hidden="true"></i>
          <% end %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92890211-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-92890211-4');
</script>
